################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code-Challenge/FileContentIndex/82769302-88a8-45e1-86d5-d6b0dfeb847a.vsidx
/.vs/Code-Challenge/FileContentIndex/1a0671fa-ab96-4695-964a-18cffe9f593d.vsidx
/.vs/Code-Challenge/FileContentIndex/38838cd9-e6e3-4806-8470-d1f8f845a1dc.vsidx
/.vs/Code-Challenge/FileContentIndex/061be5c9-0972-49ef-b277-587369b68ad7.vsidx
/.vs/Code-Challenge/FileContentIndex/bc02489d-b7e9-4520-9664-3d06f0ed96d1.vsidx
/.vs/Code-Challenge/FileContentIndex/1da6e367-5780-4b67-9546-321cff740f9d.vsidx
/.vs/Code-Challenge/FileContentIndex/a141c509-4a19-4962-921f-731a5a3eaf0b.vsidx
