################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code-Challenge/FileContentIndex/82769302-88a8-45e1-86d5-d6b0dfeb847a.vsidx
